<html>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Authorization</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form action="/form" method="POST" class="w3-container w3-card-4">

<p>
<input class="w3-input" type="text" style="width:90%" required
name = Name>
<label>Name</label></p>
<p>
<input class="w3-input" type="text" style="width:90%" required
name= Address>
<label>Address</label></p>

<input type="submit" value="Submit">


</form>

</div>

</body>
</html